<ng-template #loading>
  <div class="alert alert-info text-center">
    Espere por favor
  </div>
</ng-template>

<div *ngIf="country;else loading">
  <div class="row">
    <div class="col-12">
      <h2>País : <strong>{{this.country.name.common}}</strong></h2>
      <hr>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <h3>Bander</h3>
    <img [src]="this.country?.flags?.svg" [alt]="country?.name?.common" class="img-thumbnail">
  </div>
  <div class="col">
    <h3>Información</h3>
    <ul class="list-group">
      <li class="list-group item">
        <strong>Población:</strong> {{country?.population | number}}
      </li>
      <li class="list-group item">
        <strong>Código:</strong> {{country?.cca3}}
      </li>
    </ul>
  </div>

  <div>
    <h3>Traducciones</h3>
  </div>

  <div class="d-flex flex-wrap">
    <span class="badge bg-primary m-1">{{country!.translations['ara'].common}}</span>
    <span class="badge bg-primary m-1">{{country!.translations['bre'].common}}</span>
    <span class="badge bg-primary m-1">{{country!.translations['ces'].common}}</span>
    <span class="badge bg-primary m-1">{{country!.translations['deu'].common}}</span>
    <span class="badge bg-primary m-1">{{country!.translations['cym'].common}}</span>
  </div>
</div>
